name: Unit Tests

on:
  # push:
  #   branches: ["main", "master", "test"]

  # pull_request:
  #   branches: ["main", "master", "release-*", "test"]
  
  workflow_dispatch:
  workflow_call:

jobs:
  unit_test:
    name: unit_test
    strategy:
      matrix:
        go-version: ["1.17"] # >=1.16 required due to io.ReadAll()
        platform: ["ubuntu-latest"] # , "windows-latest"

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@v3
  
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Check for .codecov.yaml
        id: codecov-enabled
        uses: andstor/file-existence-action@v1
        with:
          files: .codecov.yaml

      - if: steps.codecov-enabled.outputs.files_exists == 'true'
        name: Enable Go Coverage
        run: echo 'COVER_OPTS=-coverprofile=coverage.txt -covermode=atomic' >> $GITHUB_ENV

      - name: Test
        env:
          GOFLAGS: "-mod=vendor -v -race"
        run: go test $COVER_OPTS ./...

      - name: Verify git clean
        shell: bash
        run: |
          if [[ -z "$(git status --porcelain)" ]]; then
            echo "${{ github.repository }} up to date."
          else
            echo "${{ github.repository }} is dirty."
            echo "::error:: $(git status)"
            exit 1
          fi

      - if: steps.codecov-enabled.outputs.files_exists == 'true'
        name: Produce Codecov Report
        uses: codecov/codecov-action@v3